
body {
  background-color: #59d5f5;
  font-family: Arial, sans-serif;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  
}

h3 {
  color: #333;
}

button {
  background-color: #eb29c1;
  color: rgb(141, 7, 7);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
